/* ---------- root variables ---------- */
:root {
  --green: #645287;
  --light-green: #5e4b82;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 3px;
}


/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 500;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-weight: 500;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

.page img {
  width: 300px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

.grid-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 450px;
  margin: auto;
}

.grid-container article {
  border-bottom: 30px solid var(--light-grey);
  padding-bottom: 20px;
}

.grid-container h3 {
  text-transform: uppercase;
}

.grid-container p {
  line-height: 0.2;
}

.grid-container .person-property {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}



/* ---------- profile picture styling ---------- */
.profile-pic {
  margin: 2em auto;
  width: 100%;
  max-width: 250px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


/* ---------- family ---------- */
.options {
  width: 450px;
  margin: 10px auto;
}

.searchbar {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.add-btn {
  width: 100%;
  /* padding: 10px; */
  margin: 10px 0;
  border: none;
  background: none;
  color: var(--green);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.add-btn:hover {
  color: var(--light-green);
  transition: 0.3s all ease-in-out;
  text-decoration: underline;
}

.add-fields {
  display: none;
  flex-direction: column;
}

.add-fields input {
  width: 440px;
  padding: 10px 0 10px 10px;
  margin: 10px 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

#save-btn {
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: var(--light-green);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* ---------- animations ---------- */
/* ---------- animations ---------- */